---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Navbar from "../layouts/Navigation.astro";
import Footer from "../layouts/Footer.astro";

const allExperiences = await getCollection("experience");

// Sort experiences by date (most recent first)
const sortedExperiences = allExperiences.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<Layout title="Experience">
  <div class="min-h-screen flex flex-col">
    <div class="flex-grow">
      <Navbar>
        <div class="sm:px-20 px-6 py-2">
          <h1 class="font-mono sm:text-4xl text-2xl tracking-wider mb-8">Experience</h1>
          
          <div class="">
            {
              sortedExperiences.map((experience) => (
                <a href={`/experience/${experience.slug}`} class="block">
                  <div class="grid gap-6 p-4 rounded-lg transition-colors duration-300 hover:bg-base-200">
                    <div>
                      <div class="flex items-center gap-4 mb-2">
                        <h2 class="font-mono text-xl">{experience.data.title}</h2>
                        <span class="text-sm font-mono px-3 py-1 rounded-lg bg-primary/10 text-primary/80 border border-primary/20">
                          {experience.data.company}
                        </span>
                      </div>

                      <p class="text-base-content/60 mb-4 font-mono">
                        {experience.data.date}
                      </p>

                      <p class="text-base-content/80 mb-4">
                        {experience.data.description}
                      </p>

                      <div class="flex flex-wrap gap-2 mb-4">
                        {experience.data.tags.map((tag: string) => (
                          <span class="text-sm px-3 py-1 rounded-lg bg-accent/10 text-primary/70 border border-accent/20 hover:bg-accent/20 transition-colors duration-200">{tag}</span>
                        ))}
                      </div>
                    </div>
                  </div>
                </a>
              ))
            }
          </div>
        </div>
      </Navbar>
    </div>
    <Footer />
  </div>
</Layout>

<style>
  .drawer-content {
    z-index: 0;
    touch-action: auto !important;
  }
</style>
