---
import { Image } from "astro:assets";
import TeslaFlyingY from "../../../src/images/experience/tesla/TeslaFlyingY.jpg";
import TeslaRevitExtractionServiceArchitecture from "../../../src/images/experience/tesla/TeslaRevitExtractionServiceArchitecture.png";
import TeslaFDTAesthetic from "../../../src/images/experience/tesla/TeslaFDTAesthetic.png";

import TeslaFDTDataDisplay from "../../../src/images/experience/tesla/TeslaFDTDataDisplay.png";
import TeslaMoreAesthetic from "../../../src/images/experience/tesla/TeslaMoreAesthetic.png";
import TeslaRobotics from "../../../src/images/experience/tesla/TeslaRobotics.jpg";
import TeslaMapWithConversion from "../../../src/images/experience/tesla/TeslaMapWithConversion.png";
import TeslaExtractionServiceCustomFrontend from "../../../src/images/experience/tesla/TeslaExtractionServiceCustomFrontend.png";
---

<style>
  /* Adjust the drawer content to appear above other elements */
  .drawer-content {
    z-index: 0; /* High value to ensure it's above others */
    touch-action: auto!important;
  }
</style>

<div class="drawer drawer-end">
  <input id="tesla1-drawer" type="checkbox" class="drawer-toggle" />
  <div class="tesla1-content drawer-content">
    <!-- Page content here -->
    <label
      id="tesla1-open-button"
      for="tesla1-drawer"
      class="w-full btn sm:btn-lg btn-sm btn-primary-content mt-4 font-bold"
      >Tesla</label
    ><span class="text-xs float-right italic font-thin"
      >May 2023 - August 2023</span
    >
  </div>
  <div class="drawer-side">
    <label
      id="tesla1-close-button"
      for="tesla1-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"></label>
    <ul
      class="menu p-4 sm:w-8/12 w-11/12 min-h-full bg-base-200 text-base-content"
    >
      <!-- Sidebar content here -->
      <div class="my-2 sm:text-lg text-md">
        <h1 class="mb-2 font-bold">Second Internship Experience at Tesla</h1>
        <p class="mb-2">
          During my second internship at Tesla, I worked as a software
          engineering intern on the material flow team dealing with technology
          that shaped the factory design and operations.
        </p>

        <Image
          src={TeslaFlyingY}
          alt="Tesla FlyingY"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Revolutionizing Revit Model Extraction</h1>
        <p class="mb-2">
          I led the development of a powerful C# tool that transformed the Revit
          model extraction process. This tool improved how Revit and Tesla's
          in-house software worked together, making it easier to extract Revit
          element metadata for various tools across the company. This metadata
          was crucial for Tesla's material flow team, helping them calculate
          operational and automation costs, track Key Performance Indicators
          (KPIs), and optimize layout iterations. By cutting manual efforts from
          12 hours down to just minutes, this extraction service streamlined
          processes and saved a ton of money.
        </p>

        <Image
          src={TeslaRevitExtractionServiceArchitecture}
          alt="Nvidia Logo"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Architecting Scalable Solutions</h1>
        <p class="mb-2">
          Building the Revit Extraction Service was pretty challenging. I had to
          come up with a smart strategy to handle the Revit API's complexities
          and optimize how it interacted with the BIM cloud. I designed a
          self-sustaining architecture for real-time extraction, using parallel
          processing to handle the large-scale models used in Tesla's factories.
          Scalability was key, so I added extensive error logging to quickly
          resolve issues and analyze them later. I also created a detailed
          frontend to visualize extraction data and monitor job statuses,
          ensuring everything ran smoothly.
        </p>

        <Image
          src={TeslaExtractionServiceCustomFrontend}
          alt="Tesla Extraction Service Custom Frontend"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">
          Frontend Development for Data Visualization
        </h1>
        <p class="mb-2">
          My design skills were crucial in developing an advanced front-end tool
          to complement the automated Revit model extraction process. Using
          frameworks like ReactJS and Deck.gl, I helped create dynamic data
          visualizations that improved user interaction and enabled insightful
          analyses. By mastering Deck.gl, I turned extracted data into visually
          compelling 3D representations, helping stakeholders make informed
          decisions about factory design and layout optimization.
        </p>

        <Image
          src={TeslaFDTAesthetic}
          alt="Tesla Extraction Service Custom Frontend"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <Image
          src={TeslaFDTDataDisplay}
          alt="Tesla Extraction Service Custom Frontend"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <Image
          src={TeslaMoreAesthetic}
          alt="Tesla Extraction Service Custom Frontend"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Pioneering 5G Ericsson Positioning Trial</h1>
        <p class="mb-2">
          I took part in groundbreaking trials to harness Ericsson's 5G network
          for monitoring and optimizing real-time asset movements within Tesla's
          facilities. Working closely with the development team, I designed and
          implemented advanced algorithms to convert geographical coordinates
          into pixel values on graphical interfaces. This innovative trial
          demonstrated the potential of 5G for real-time asset monitoring,
          offering valuable insights into operational efficiency and pushing
          technological boundaries.
        </p>

        <Image
          src={TeslaRobotics}
          alt="Tesla Extraction Service Custom Frontend"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <Image
          src={TeslaMapWithConversion}
          alt="Tesla Extraction Service Custom Frontend"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Looking Back on my Intertnship at Tesla</h1>
        <p class="mb-2">
          My internship at Tesla was a game-changer. I got to work on projects
          right at the edge of innovation, from shaking up Revit model
          extraction to diving into trials with 5G tech. I learned heaps and
          gained skills that'll definitely shape my future in tech and
          engineering. Being part of a team with top-notch experts and tackling
          real-world problems fueled my passion for innovation. It's inspired me
          to keep pushing boundaries and driving forward in the quest for
          technological progress.
        </p>
      </div>
    </ul>
  </div>
</div>

<script>
  const tesla1OpenDrawer = document.getElementById("tesla1-open-button");
  const tesla1CloseDrawer = document.getElementById("tesla1-close-button");

  const toyotaContent = document.querySelector(
    ".toyota-content.drawer-content"
  );

  const nvidiaContent = document.querySelector(
    ".nvidia-content.drawer-content"
  );

  const tesla2Content = document.querySelector(
    ".tesla2-content.drawer-content"
  );

  const tesla1Content = document.querySelector(
    ".tesla1-content.drawer-content"
  );

  tesla1OpenDrawer?.addEventListener("click", () => {
    // Check if nvidiaOpenDrawer is defined before accessing its style property
    if (tesla1Content) {
      // @ts-ignore
      toyotaContent.style.zIndex = -1;
      // @ts-ignore
      nvidiaContent.style.zIndex = -1;
      // @ts-ignore
      tesla2Content.style.zIndex = -1;
      // @ts-ignore
      tesla1Content.style.zIndex = -1;
    } else {
      console.error("nvidiaOpenDrawer is undefined");
    }
  });

  tesla1CloseDrawer?.addEventListener("click", () => {
    // Check if nvidiaOpenDrawer is defined before accessing its style property
    if (tesla1Content) {
      // @ts-ignore
      toyotaContent.style.zIndex = 0;
      // @ts-ignore
      nvidiaContent.style.zIndex = 0;
      // @ts-ignore
      tesla2Content.style.zIndex = 0;
      // @ts-ignore
      tesla1Content.style.zIndex = 0;
    } else {
      console.error("tesla1CloseDrawer is undefined");
    }
  });
</script>
