---
import { Image } from "astro:assets";
import TeslaCyberRodeoScreen from "../../../src/images/experience/tesla/TeslaCyberRodeoScreen.jpg";
import TeslaCyberRodeo from "../../../src/images/experience/tesla/TeslaCyberRodeo.jpg";
import TeslaLiDARControlTargets from "../../../src/images/experience/tesla/TeslaLiDARControlTargets.png";
import TeslaLiDARRainbow from "../../../src/images/experience/tesla/TeslaLiDARRainbow.png";
import Tesla5kConveyanceDesign from "../../../src/images/experience/tesla/Tesla5kConveyanceDesign.png";
import TeslaRoadster from "../../../src/images/experience/tesla/TeslaRoadster.jpg";
import TeslaOptimus from "../../../src/images/experience/tesla/TeslaOptimus.jpg";
import TeslaCyberTruck from "../../../src/images/experience/tesla/TeslaCyberTruck.jpg";
import TeslaModelYWrapped from "../../../src/images/experience/tesla/TeslaModelYWrapped.jpg";
import TeslaCrashDummySideView from "../../../src/images/experience/tesla/TeslaCrashDummySideView.jpg";
---

<style>
  /* Adjust the drawer content to appear above other elements */
  .drawer-content {
    z-index: 0; /* High value to ensure it's above others */
    touch-action: auto!important;
  }
</style>

<div class="drawer drawer-end">
  <input id="tesla2-drawer" type="checkbox" class="drawer-toggle" />
  <div class="tesla2-content drawer-content">
    <!-- Page content here -->
    <label
      id="tesla2-open-button"
      for="tesla2-drawer"
      class="w-full btn sm:btn-lg btn-sm btn-primary-content mt-4 font-bold"
      >Tesla</label
    ><span class="text-xs float-right italic font-thin"
      >January 2022 - September 2022</span
    >
  </div>
  <div class="drawer-side">
    <label
      id="tesla2-close-button"
      for="tesla2-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"></label>
    <ul
      class="menu p-4 sm:w-8/12 w-11/12 min-h-full bg-base-200 text-base-content"
    >
      <!-- Sidebar content here -->
      <div class="my-2 sm:text-lg text-md">
        <h1 class="mb-2 font-bold">
          My Co-Op Journey at Tesla: Exploring Software Engineering in a
          High-Tech Environment
        </h1>
        <p class="mb-2">
          During my internship at Tesla, I got to work as a Software Engineering
          Intern. I dived into different projects that boosted my technical
          skills and gave me some awesome industry insights.
        </p>

        <Image
          src={TeslaCyberRodeoScreen}
          alt="Tesla Cyber Rodeo Screen"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <Image
          src={TeslaCyberRodeo}
          alt="Tesla Cyber Rodeo"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Collaborating for System Efficiency</h1>
        <p class="mb-2">
          I collaborated closely with software engineers to develop and test
          application procedures aimed at enhancing system efficiency. This
          involved analyzing existing processes and implementing improvements to
          optimize performance.
        </p>
        <h1 class="mb-2 font-bold">Implementing a Project Tracking System</h1>
        <p class="mb-2">
          At the heart of Tesla's operations lay a complex web of projects, each
          with its own set of scopes, timelines, and budgets. I played a pivotal
          role in implementing a robust project tracking system that
          revolutionized how projects were managed at GigaTexas. This system
          meticulously tracked over 30,000 scopes, worth over $300 million, from
          inception to completion. By integrating labor tracking, spending
          reports, funding forecasts, and project controls, we provided
          stakeholders with real-time insights into project progress and
          potential risks, enabling proactive decision-making and ensuring
          projects stayed on track.
        </p>
        <h1 class="mb-2 font-bold">Developing Dashboards and Reports</h1>
        <p class="mb-2">
          Using my expertise in web development and Power BI, I took on the
          challenge of developing dashboards and reports that provided
          stakeholders with actionable insights into project productivity,
          progress, changes, and Key Performance Indicators (KPIs). These
          dashboards not only presented data in a visually compelling manner but
          also allowed stakeholders to drill down into specific metrics,
          identify trends, and make informed decisions. From designing user
          interfaces to implementing complex data pipelines, this project
          allowed me to showcase my technical prowess while delivering tangible
          value to the organization.
        </p>
        <h1 class="mb-2 font-bold">
          Assisting the BIM Team in Digital Modeling
        </h1>
        <p class="mb-2">
          Working closely with the Building Information Modeling (BIM) team at
          the Texas Giga Factory, I gained firsthand experience in managing
          digital models and data representations of the factory and its
          production assets. From coordinating design and construction efforts
          to optimizing factory layouts for maximum efficiency, I played a
          pivotal role in ensuring seamless collaboration across engineering,
          construction, manufacturing, and operations teams. This involved
          leveraging my understanding of CAD/BIM software and industry best
          practices to drive continuous improvement and innovation in digital
          modeling processes.
        </p>

        <Image
          src={TeslaLiDARControlTargets}
          alt="Tesla LiDAR Control Targets"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">
          Leveraging Advanced Technologies for Reality Capture
        </h1>
        <p class="mb-2">
          As part of Tesla's commitment to innovation, I had the opportunity to
          work with cutting-edge technologies like LiDAR scanning and reality
          capture. By harnessing the power of these technologies, we were able
          to create highly accurate "As-Built" records of the factory and its
          production components. From conducting LiDAR scans to processing point
          cloud data and resolving clashes in 3D models, I gained invaluable
          hands-on experience in the latest tools and techniques used in the
          industry.
        </p>

        <Image
          src={TeslaLiDARRainbow}
          alt="Nvidia CAD Image"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <Image
          src={Tesla5kConveyanceDesign}
          alt="Nvidia CAD Image"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Attending the Tesla Cyber Rodeo Event</h1>
        <p class="mb-2">
          One of the highlights of my time at Tesla was attending the Cyber
          Rodeo event at the Giga Texas factory. This grand opening event was a
          celebration of innovation, bringing together employees, industry
          leaders, and Tesla enthusiasts from around the world. It was an
          electrifying experience, providing a firsthand look at the
          cutting-edge advancements in electric vehicle technology and
          sustainable energy solutions. The event featured a showcase of Tesla's
          latest products, including the much-anticipated Cybertruck, and
          offered immersive tours of the state-of-the-art Gigafactory. Engaging
          with fellow engineers and industry experts, I gained deeper insights
          into the future of electric mobility and the role of advanced
          manufacturing technologies in driving sustainable growth. The Cyber
          Rodeo not only reinforced my commitment to contributing to
          technological advancements but also inspired me to continue pushing
          the boundaries of innovation in my career.
        </p>

        <Image
          src={TeslaRoadster}
          alt="Tesla Roadster"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <Image
          src={TeslaOptimus}
          alt="Tesla Optimus"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <Image
          src={TeslaCyberTruck}
          alt="Tesla Cyber Truck"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <Image
          src={TeslaModelYWrapped}
          alt="Tesla ModelY Wrapped"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <Image
          src={TeslaCrashDummySideView}
          alt="Tesla Crash Dummy Side View"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">9 Months at Tesla</h1>
        <p class="mb-10">
          My internship at Tesla was not just a learning experience but a
          journey of personal and professional growth. From collaborating with
          experts in the field to tackling real-world challenges and leveraging
          advanced technologies, I gained insights and skills that will
          undoubtedly shape my future career in software engineering. As I look
          back on my time at Tesla, I am grateful for the opportunities I had
          and excited for the possibilities that lie ahead in the dynamic world
          of technology and innovation.
        </p>
      </div>
    </ul>
  </div>
</div>

<script>
  const tesla1OpenDrawer = document.getElementById("tesla2-open-button");
  const tesla1CloseDrawer = document.getElementById("tesla2-close-button");

  const toyotaContent = document.querySelector(
    ".toyota-content.drawer-content"
  );

  const nvidiaContent = document.querySelector(
    ".nvidia-content.drawer-content"
  );

  const tesla2Content = document.querySelector(
    ".tesla2-content.drawer-content"
  );

  const tesla1Content = document.querySelector(
    ".tesla1-content.drawer-content"
  );

  tesla1OpenDrawer?.addEventListener("click", () => {
    // Check if nvidiaOpenDrawer is defined before accessing its style property
    if (tesla2Content) {
      // @ts-ignore
      toyotaContent.style.zIndex = -1;
      // @ts-ignore
      nvidiaContent.style.zIndex = -1;
      // @ts-ignore
      tesla2Content.style.zIndex = -1;
      // @ts-ignore
      tesla1Content.style.zIndex = -1;
    } else {
      console.error("nvidiaOpenDrawer is undefined");
    }
  });

  tesla1CloseDrawer?.addEventListener("click", () => {
    // Check if nvidiaOpenDrawer is defined before accessing its style property
    if (tesla2Content) {
      // @ts-ignore
      toyotaContent.style.zIndex = 0;
      // @ts-ignore
      nvidiaContent.style.zIndex = 0;
      // @ts-ignore
      tesla2Content.style.zIndex = 0;
      // @ts-ignore
      tesla1Content.style.zIndex = 0;
    } else {
      console.error("tesla1CloseDrawer is undefined");
    }
  });
</script>
